@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap');

body {
    font-family:
            'Cambria Math',
            'STIX Two Math',
            'Latin Modern Math',
            'XITS Math',
            'Asana Math',
            serif;
    margin: 0;
    padding: 20px;
    background: linear-gradient(135deg, #0f73b2, #052763);
    min-height: 124vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid #ffffff;


}

#container-fluid {
    background-color: black;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgb(10, 10, 10);
    padding: 20px;
    width: 364px;
}

#calculator {
    margin-bottom: 20px;
    border: 2px solid #15c208;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(67, 65, 65, 0.2);
}

#display {
    background-color: #6f6a6a;
    border-radius: 10px;
    padding: 15px;
    color: rgb(0, 0, 0);
    text-align: right;
    font-size: 24px;
    min-height: 60px;
    box-shadow: inset 0 2px 5px rgba(74, 72, 72, 0.5);
}

#history {
    font-size: 25px;
    color: #2a2929;
    min-height: 20px;
    overflow-x: auto;
    white-space: nowrap;
}

#result {
    font-size: 34px;
    font-weight: bold;
    margin-top: 5px;
}

#keyboard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 20px 0px;
}

button {
    padding: 15px;
    font-size: 24px;
    border: none;
    min-height: 24px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #252424;
    color: white;
    box-shadow: 0 4px 10px rgba(67, 65, 65, 0.2);
    transition: background-color 0.3s, transform 0.1s;

}

h3 {
    font-weight: bold;
    font-family: 'League spartan', sans-serif;
}

p {
    color: rgb(1, 234, 255);
    font-size: 15px;
    font-family: 'League spartan', sans-serif;
}

.number {
    color: #ffffff;
}

.number:hover {
    background-color: rgba(56, 55, 55, 0.906);
    transform: translateY(-2px);
}

.operator {
    color: rgb(205, 50, 96);

}

.operator:hover {
    background-color: rgba(56, 55, 55, 0.906);
    transform: translateY(-2px);
}

#equals {
    background-color: #15c208;
    color: white;
}

.equals:hover {
    background-color: rgba(56, 55, 55, 0.906);
    transform: translateY(-2px);
}

button:active {
    transform: translateY(1px);
    box-shadow: 0 2px 5px rgba(67, 65, 65, 0.2);
}

button:focus {
    outline: none;
    box-shadow: 0 0 5px #11ff00;
}

#backspace {
    color: #f0ad4e;
}

#backspace:hover {
    background-color: rgba(56, 55, 55, 0.906);
    transform: translateY(-2px);
}
#clear {
    background-color: #b03834d4;
    color: white;
}
#clear:hover {
    background-color: rgb(123, 45, 76);
    transform: translateY(-2px);
}
